.btn{
    width: 50%;
    height: 2em;
    padding: 1em;
    margin: 1em;
    font-size: 18px;
    color: grey;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 234, 227);
}

.btn:hover{
    background-color: rgb(120, 194, 173);
    color:white;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.divSearched{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formSearch{
    width: 30%;
    margin: 0 auto;
}