button{
    width: 100%;
    padding: 1em;
    background-color: #FFAD92;
    border: none;
    color: white;
    margin-top: 1em;
    font-size: 18px;
}

main {
    width: 100%;
    height: 30em;
    background-image: url('/images/home.jpg');
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

div.container {
    background-color: #272F3B;
    color: white;
    opacity: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    width: 100%;
    padding: 1em;
    /* background-color: #FFAB8F; */
    border: none;
    color: black;
    margin-right: 1em;
    
}