.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > form {
    width: 70%;
    margin: auto;
}

form + div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

table {
    width: 70%;
}

table, th, td {
    border-bottom: 1px solid darkgray;
}

.btn{
    width: 15%;
    height: 2em;
    padding: 1em;
    margin: 1em;
    font-size: 18px;
    color: grey;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 234, 227);
    cursor: pointer;
}


.btn:hover{
    background-color: rgb(120, 194, 173);
    color:white;
}